################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UDS.Api/bin/Debug/netcoreapp2.2
/UDS.Api/obj
/UDS.Business/bin/Debug/netcoreapp2.2
/UDS.Business/obj
/UDS.Data/bin/Debug/netcoreapp2.2
/UDS.Data/obj
